.section__header {
    font-family: Ovo, serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-top: 56px;
}

.card__container {
    margin: 0 auto;
    margin-bottom: 16px;
    margin-top: 56px;
    overflow: hidden;
    white-space: nowrap;
    width: 948px;
    height: 338px;
}

/* .card__container:hover {
    cursor: pointer;
    transform: scale(1.02);
} */

.card__image {
    float: left;
    width: 620px;
    height: auto;
}

.card__text-header {
    width: 328px;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: Muli, sans-serif; 
    font-weight: 600;
    margin-top: 90px;
}

.card__text-body {
    width: 328px;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: Muli, sans-serif;
    font-weight: 200;
    margin-top: 35px;
}

@media screen and (max-width: 600px) {
    .card__container {
        margin: 0 auto;
        margin-bottom: 28px;
        overflow: hidden;
        white-space: nowrap;
        width: 474px;
        height: 150px;
    }
}




