.section__header {
    font-family: Ovo, serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-top: 56px;
}

.card__container {
    margin: 0 auto;
    margin-bottom: 16px;
    margin-top: 56px;
    overflow: hidden;
    white-space: nowrap;
    width: 948px;
    height: 338px;
}

.card__container:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.card__image {
    display: block;
    max-width: 60%;
    height: auto;
}

@media screen and (max-width: 600px) {
    .card__container {
        margin: 0 auto;
        margin-bottom: 28px;
        overflow: hidden;
        white-space: nowrap;
        width: 474px;
        height: 150px;
    }
}




